<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slyfly1.taxiconventionne77">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.slyfly1.taxiconventionne77.calendrier.CalendarNotificationChannel"
        android:allowBackup="true"
        android:icon="@mipmap/web_hi_res_512"
        android:label="TaxiConventionne77"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.GraphiqueDetailJours"></activity>

        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.Cpam" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.GraphiqueDetail" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.Graphique" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.Cpamvalider" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLguQhd-iVArp6R5Ndf_HJDiZSqAvCoWo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.slyfly1.taxiconventionne77.Details" />
        <activity android:name="com.slyfly1.taxiconventionne77.list" />
        <activity android:name="com.slyfly1.taxiconventionne77.Accueil" />
        <activity android:name="com.slyfly1.taxiconventionne77.DetailClick" />
        <activity android:name="com.slyfly1.taxiconventionne77.MainActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.test" />
        <activity android:name="com.slyfly1.taxiconventionne77.login.ProfileActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.enregistrementclient.AjoutClient" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.PlacePickerActivity">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBLguQhd-iVArp6R5Ndf_HJDiZSqAvCoWo" />
        </activity>
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.EventDetailsActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.SettingsActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.ReminderActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.WeeklyListActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.RepeatActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.EditEventActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.EventListActivity" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.MainActivitycalendrier" />
        <activity android:name="com.slyfly1.taxiconventionne77.calendrier.importtest" />
        <activity android:name="com.slyfly1.taxiconventionne77.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.slyfly1.taxiconventionne77.FirebasePushNotificationClass">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
        <service android:name="com.slyfly1.taxiconventionne77.fcm.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.slyfly1.taxiconventionne77.fcm.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name="com.slyfly1.taxiconventionne77.calendrier.AlertReceiver" />
    </application>

</manifest>